Projekt5/src/test/resources/dataset.dtd

<!ELEMENT dataset (
    PHONE*,
    CUSTOMER*,
    CUSTOMER_PHONE*)>

<!ELEMENT PHONE EMPTY>
<!ATTLIST PHONE
    ID CDATA #REQUIRED
    CPUBRAND CDATA #IMPLIED
    CPU CDATA #IMPLIED
    GPU CDATA #IMPLIED
    HDD CDATA #IMPLIED
    SOLD CDATA #IMPLIED
>

<!ELEMENT CUSTOMER EMPTY>
<!ATTLIST CUSTOMER
    ID CDATA #REQUIRED
    NAME CDATA #IMPLIED
    OCCUPATION CDATA #IMPLIED
    PESEL CDATA #REQUIRED
    REGISTRATIONDATE CDATA #IMPLIED
>

<!ELEMENT PROVIDER EMPTY>
<!ATTLIST PROVIDER
	ID CDATA #REQUIRED
	PROVIDERNAME CDATA #IMPLIED
	PROVIDERRENOWN CDATA #IMPLIED
	PROVIDERCODE CDATA #REQUIRED
	ACTIVE CDATA #IMPLIED
>

<!ELEMENT CUSTOMER_PHONE EMPTY>
<!ATTLIST CUSTOMER_PHONE
    PHONES_ID CDATA #REQUIRED
    CUSTOMER_ID CDATA #REQUIRED
>

